<div class="span6 offset3">
	<div class="boxy text-center">
	<h1 class="custom-pic-header">Add New Picture</h1>
</div>
	<div class="boxy text-center">


<%= simple_form_for @pic do |f| %>
	<%= f.input :hour %>
	<%= f.input :emotion %>
	<%= f.input :learned %>

	<%= submit_tag "Create" %>

<% end %>
</div>

</div>
